@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* I inherited the frame styling from the sample. */
.frame {
  position: absolute;
  z-index: -5;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #8d8d8d;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-container {
  font: helvetica, san serif;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  box-shadow: 0px 0px 15px grey;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
  top: 0.5rem;
}

.inner-circle {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid;
  border-color: grey grey grey transparent;
  top: 1.9rem;
  animation: rotate 10s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.outter-circle {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid;
  border-color: grey transparent grey grey;
  top: 1.68rem;
  transition: all 700ms ease-in-out;
}

.outter-circle:hover {
  transform: rotate(160deg);
}

.profile-img {
  margin-bottom: -10px;
}

.profile-img > img {
  border-radius: 50%;
}

.info {
  text-align: center;
}

.name {
  font-weight: bold;
}

.position {
  font-size: 0.7rem;
  text-align: center;
}

.side-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.ratings {
  position: relative;
  background: silver;
  width: 80%;
  right: -20%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
  transition: all 500ms ease-in-out;
}

.ratings:hover {
  background: #a6a6a6;
}

.numbers {
  font-weight: bold;
  font-size: 1.2rem;
}

.feature {
  font-size: 0.8rem;
}

.btn {
  border: 1px solid grey;
  font-size: 0.7rem;
  font-weight: bold;
  background: transparent;
  width: 120px;
  border-radius: 25px;
  padding: 0.5rem;
  transition: all 500ms ease-in-out;
}

.btn:hover {
  background: #a6a6a6;
}

button {
  margin-bottom: 12px;
}
